body {
	background: lightgray;
	font-family: Segoe UI;
}

.container {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    width: 50%;
    margin: auto;
    background: white;
    padding: 20px;
}
